{% extends "layouts/base.twig" %}
{% block header %}{% include 'partials/header.twig' %}{% endblock %}
{% block content %}
  <article>
    <h2>{{post.title}}</h2>
    <form class="password-form" action="{{site.link}}/wp-login.php?action=postpass" method="post">
      <label class="password-form__label" for="pwbox-{{post.ID}}">
        <span class="bold">This is a protected area.</span> Please enter your password to continue
      </label>
      <input class="password-form__box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" maxlength="20" required />
      <input class="password-form__button button button--primary" type="submit" name="Submit" value="Authenticate" />
    </form>
  </article>
{% endblock %}
{% block footer %}{% include 'partials/footer.twig' %}{% endblock %}